<nav
  class="navbar navbar-expand-sm navbar-dark"
  style="background-color: black;"
>
  <a class="navbar-brand" href="#">Navbar</a>
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Dropdown</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" href="#">Action 1</a>
          <a class="dropdown-item" href="#">Action 2</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="!isLogin">
        <a class="nav-link" data-toggle="modal" data-target="#modelId">Login</a>
      </li>

      <li class="nav-item" *ngIf="isLogin">
        <a class="nav-link">Hi, {{ name }}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="modelId"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Username</label>
          <input #txtUsername class="form-control" />
        </div>
        <div class="form-group">
          <label>Password</label>
          <input #txtPassword type="password" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="login(txtUsername.value, txtPassword.value)"
          data-dismiss="modal"
        >
          Login
        </button>
      </div>
    </div>
  </div>
</div>
